{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "ignorePatterns": [
    "dist",
    "coverage",
    "node_modules",
    "**/*.d.ts"
  ]
}